<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
	<!-- how to mapping table va object -->
	<resultMap type="admin" id="adminMap">
		<id property="id" column="ID" />
		<result property="image" column="IMAGE" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="phoneNumber" column="phonenumber" />
		<result property="address" column="address" />
		<result property="firstName" column="FIRST_NAME"/>
		<result property="lastName" column="last_name"
		 />
	</resultMap>
	<select id="selectEmail" parameterType="admin" resultType="admin" resultMap="adminMap">
		SELECT *
		FROM admin WHERE email=#{email} and password=#{password}
	</select>
	
	<select id="selectOne" parameterType="admin" resultType="admin" resultMap="adminMap">
		SELECT *
		FROM admin WHERE email=#{email}
	</select>
	
	<select id="selectCount" parameterType="admin" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM admin  
		

	</select>
	

</mapper>