<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Discuss">

	<resultMap type="discuss" id="discussMap">
		<id property="id" column="ID"></id>
		<result property="content" column="CONTENT"></result>
		<result property="create_date" column="DATETIME"></result>
		
		<association 
				property="student"
				column="STUDENT_ID"
				select="Student.selectStudentById"
		></association>
		
		<association
				property="teacher"
				column="TEACHER_ID"
				select="Teacher.getTeacherById"
		></association>
		
	</resultMap>
	
	<select id="selectList" parameterType="Integer" resultMap="discussMap">
		SELECT * FROM DISCUSS
		WHERE join_id=#{join_id}
		ORDER BY datetime DESC
	</select>
	
	<insert id="insert" parameterType="discuss">
		INSERT INTO discuss (content, student_id, teacher_id, join_id)
		VALUES (#{content}, #{student.id}, #{teacher.id}, #{join.id})
	</insert>	
</mapper>
