<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ref">

	<resultMap type="ref" id="refMap">
		<id property="id" column="ID"/>
		<result property="title" column="TITLE"/>
		<result property="des" column="DES"/>
		<result property="file" column="FILE"/>
		<result property="createDate" column="CREATE_DATE"/>											
	</resultMap>
		
	<select id="getRefById" parameterType="Integer" resultMap="refMap">
		<![CDATA[
			SELECT *
			FROM reference JOIN course
			WHERE reference.course_id = course.id AND course.id=#{id}
		]]>	
	</select>
		
	<insert id="insert" parameterType="ref">
		INSERT INTO reference (title, des, file, course_id) VALUES (#{title}, #{des}, #{file}, #{courseId})
	</insert>
</mapper>
